@import 'normalize'

#topper
  position: relative
  height: 100vh !important
  background-color: #111
  background-position: 50% 0
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  background-repeat: no-repeat

  &:before
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    display: block
    content: ' '
    background: #000
    opacity: 0.4

  .wrap
    position: absolute
    left: 50%
    top: 50%
    width: 100%
    max-width: 800px
    padding: 0 15px
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    text-align: center

    h1, p
      color: white
